html, body {
    height: 100%;
}

div#container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.navbar {
    padding-left: 15%;
    padding-right: 15%;
}

section {
    padding: 0 15%;
    flex: 1 1 auto;
}

footer {
    padding: 0 15%;
    width: 100%;
    color: white;
    background-color: black;
}

h1 {
    text-align: center;
}
